<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialpost">
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name=".manager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialPost">
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

<!--        <activity android:name=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MotivationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.VideosListActivity"
            android:screenOrientation="portrait"/>  <activity android:name=".activity.ShortVideosListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PlayVideoActivityLandscape"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.PlayShortVideoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MediaContentListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StoriesList"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.StoryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SinglePicActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.PlayVideoIntent"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>